{:paths ["src" "resources"]

 :deps
 {org.clojure/clojure {:mvn/version "1.12.2"}
  org.clojure/data.json {:mvn/version "2.5.1"}
  metosin/malli {:mvn/version "0.16.4"}}

 :aliases
 {:test
  {:extra-paths ["test"]
   :main-opts ["-m" "calliope.test-runner"]}

  :classify
  {:main-opts ["-m" "calliope.classifier.main"]}

  :cloverage
  {:extra-paths ["test"]
   :extra-deps {cloverage/cloverage {:mvn/version "1.2.4"}}
   :main-opts ["-m" "cloverage.coverage"
               "-n" "calliope.law.feature"
               "-n" "calliope.law.classifier"
               "-n" "calliope.classifier.dsl"
               "-n" "calliope.classifier.runtime"
               "-n" "calliope.classifier.main"
               "-t" "calliope\\..*-test"
               "--text" "--html" "--no-summary"]}}}
