{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.12.2"}
        org.openjfx/javafx-base$linux {:mvn/version "21.0.3"}
        org.openjfx/javafx-graphics$linux {:mvn/version "21.0.3"}
        org.openjfx/javafx-controls$linux {:mvn/version "21.0.3"}
        org.openjfx/javafx-media$linux {:mvn/version "21.0.3"}
        cljfx/cljfx {:mvn/version "1.9.5"}
        org.xerial/sqlite-jdbc {:mvn/version "3.46.1.3"}
        com.github.seancorfield/next.jdbc {:mvn/version "1.3.1002"}}}
